process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '48 GB'
    clusterOptions = '--account=warrenlab'
    container = 'esrice/hic-pipeline:latest'
}

singularity {
    enabled = true
    runOptions = "--bind /storage"
}

manifest {
    homePage = 'https://github.com/esrice/hic-pipeline'
    author = 'Edward S. Rice'
}
